<#macro main current="" title="">
    <!DOCTYPE html>
    <html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8"/>
        <title>${title}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="" name="description"/>
        <meta content="" name="author"/>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" /> -->
        <link type="text/css" href="/static/css/base.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/nprogress.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/Site.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/jquery-ui.css" rel="stylesheet"/>

        <script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/static/js/kzx.js"></script>
        <script type="text/javascript" src="/static/js/md5.js"></script>
        <script type="text/javascript" src="/static/js/common.js"></script>
        <script type="text/javascript" src="/static/js/nprogress.js"></script>
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="/static/images/favicon.ico"/>

    </head>
    <body>
    <div class="divTop">
        <div id="divTopPage">
            <div id="divSearchPart" class="topPart">
                <div id="divTopSearch" class="rd10">
                    <table style="width:100%">
                        <tr>
                            <td style="padding:5px 0 0 15px">
                                <input type="text" class="rd5" title="点击回车搜索" id="txtTopSearch"/>
                            </td>
                            <td style="width:30px;padding-top:10px">
                                <img id="btnSearchPages" src="/static/images/search.png" class="cp"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="divHeadPart" class="topPart">
                <div id="divIndex" onclick="location.href='/';">CodeTool</div>
                <img id="btnMenu" src="/static/images/menu.png" class="cp"/>
                <img id="btnGetSearchPart" src="/static/images/search.png" class="cp mr5"/>
            </div>
            <div id="divTitlePart" class="topPart">
                <div class="divTitleText cp"></div>
            </div>
        </div>
    </div>
    <div class="mask"></div>
    <audio id="adoPlayer" autoplay="autoplay" preload="metadata"></audio>
    <div id="goTop" class="goTop rd10 dn">
        <div class="goTop_t"></div>
        <div class="goTop_c"></div>
    </div>
    <div class="divRenderBody">
        <#nested>
    </div>
    </body>
    </html>
</#macro>
        
      