<#import "../main.html" as page>
<@page.main current="/dbDoc" title="数据库文档">
<style type="text/css">
    .divTableList {
        width: 180px;
        height: 30px;
        line-height: 30px;
        margin: 10px 30px 0 30px;
        background: #dddddd;
        display: inline-block;
        transition: 0.2s;
        text-align: center;
        cursor: pointer;
        word-break: break-all;
        word-wrap: break-word;
    }

    .divTableList:hover {
        background: #dddddd;
        box-shadow: 0 0 5px blue;
    }

    .divContent {
        box-shadow: 0 0 10px grey;
        padding: 20px;
    }

    .dbName {
        font-weight: bold;
        margin: 20px 0 10px 5px;
    }

    .divContent .tbDatas {
        width: 100%;
    }

    .tbDatas thead {
        font-weight: bold;
        background-color: darkgray;
    }

    .tbDatas tbody {
        background-color: lightgray;
    }

    .tbDatas tbody tr:hover {
        background-color: darkgray;
    }

    .tbDatas td {
        padding: 5px;
        white-space: nowrap;
    }

    .btnGetData {
        width: 18px;
        height: 18px;
        position: relative;
        top: 20px;
        float: right;
    }
</style>

<div id="pageMSSQL" class="divPage">
    <div class="divTitleText"></div>
    <div class="divCondition">
        <div>
            <button id="btnSearch" class="jk-button mr10">查询</button>
        </div>
        <table style="margin-top: 10px;width:100%">
            <tr>
                <td width="90px">数据库类型:</td>
                <td>
                    <input type="radio" name="dbType" id="cboSqlServer" checked="checked" value="SqlServer"/>
                    <label for="cboSqlServer">Sql Server</label>
                    <input type="radio" name="dbType" id="cboMySql" value="MySql"/>
                    <label for="cboMySql">MySql</label>
                    <input type="radio" name="dbType" id="cboPostgreSql" value="PostgreSql"/>
                    <label for="cboPostgreSql">PostgreSql</label>
                </td>
            </tr>
            <tr>
                <td>连接字符串:</td>
                <td>
                    <input type="text" id="txtConnectionString" style="max-width: 686px;width: 100%"
                           value="jdbc:postgresql://xxxxxxxxxxxx:xxxx/xxx"/>
                </td>
            </tr>
            <tr>
                <td>用户名:</td>
                <td>
                    <input type="text" id="txtUsername" style="max-width: 686px;width: 100%"
                           value="xxxxxxxxxx"/>
                </td>
            </tr>
            <tr>
                <td>密码:</td>
                <td>
                    <input type="text" id="txtPassword" style="max-width: 686px;width: 100%"
                           value="xxxxxxxxxx"/>
                </td>
            </tr>
            <tr class="eleHide dn">
                <td>筛选:</td>
                <td>
                    <input type="text" id="txtDbName" style="max-width: 686px;width: 100%" placeholder="请输入表名"/>
                </td>
            </tr>
        </table>
    </div>
    <div id="divDatas" class="divContent eleHide dn" style="overflow-x:auto">
    </div>
    <div id="divTableNameListTemp" class="dn">
        <div class="divTableList rd5 eleDb" db="{3}" onclick="findTable('{1}');" title="{2}">{0}</div>
    </div>
    <div id="divTableTemp" class="dn">
        <div class="dbName dib"></div>
        <img src="/static/images/search.png" title="查询数据" class="btnGetData cp mr5">
        <table class="tbTemp tbDatas">
            <thead>
            <tr>
                <td>名称</td>
                <td>类型</td>
                <td>长度</td>
                <td>是否为Null</td>
                <td>默认值</td>
                <td>是否为主键</td>
                <td>是否自增</td>
                <td>说明</td>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <form method="post" id="fmExport" style="display: none" action="/tool/Export2File">
        <input name="sql"/>
        <input name="Connection"/>
        <input name="fileName"/>
        <input name="DbType"/>
        <input name="excelType"/>
    </form>
</div>
<script type="text/javascript">

    $(function () {
        if (localStorage.getItem("docconn") != null) {
            $("#txtConnectionString").val(localStorage.getItem("docconn"));
        }
        if (localStorage.getItem("docusername") != null) {
            $("#txtUsername").val(localStorage.getItem("docusername"));
        }
        if (localStorage.getItem("docpwd") != null) {
            $("#txtPassword").val(localStorage.getItem("docpwd"));
        }
        if (localStorage.getItem("docdbtype") != null) {
            $("input[value=" + localStorage.getItem("docdbtype") + "]").prop("checked", "checked");
        }
    });

    function findTable(id) {
        //location.href = '#' + id;
        $('html, body').animate({
            scrollTop: $("#" + id).offset().top - 80
        }, 500);
    }

    $("#txtDbName").bind('keyup', function () {
        let text = $(this).val();
        if (text) {
            $(".eleDb").each(function () {
                if ($(this).attr("db").indexOf(text) > -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        } else {
            $(".eleDb").show();
        }
    });

    $("#btnSearch").bind("click", function () {
        const connectionString = $("#txtConnectionString").val().trim();
        if (!connectionString) {
            return;
        }
        const username = $("#txtUsername").val().trim();
        if (!username) {
            return;
        }
        const password = $("#txtPassword").val().trim();
        if (!password) {
            return;
        }

        const dbType = $("input:radio[checked=checked]").val();
        localStorage.setItem("docconn", connectionString);
        localStorage.setItem("docusername", username);
        localStorage.setItem("docpwd", password);
        localStorage.setItem("docdbtype", dbType);

        $("#divDatas").html('');
        $("#txtDbName").val('');
        $(".eleHide").hide();
        $.ajax({
            async: true,
            type: "POST",
            url: "/db/getDbFile",
            cache: false,
            timeout: 60 * 60 * 1000,
            dataType: "json",
            data: {
                connection: encodeURIComponent(connectionString),
                username: encodeURIComponent(username),
                password: encodeURIComponent(password),
                dbType: dbType
            },
            success: function (result) {
                if (result != null && result.code == '0') {
                    alert(result.msg);
                    $(".eleHide").hide();
                } else {
                    $(".eleHide").fadeIn(200);
                    $("#divDatas").scrollLeft(0);

                    let divTableListHtml = "";
                    let divTableFilesHtml = "";
                    for (let i = 0; i < result.body.length; i++) {
                        const row = result.body[i];
                        const idStr = "divTableName_" + row.dbName;
                        const showName = row.dbName.length > 25 ? row.dbName.substring(0, 22) + "..." : row.dbName;
                        const tableNameTitle = row.dbName + (row.comment == '' ? '' : ' (' + row.comment + ")");
                        $("#divTableTemp").find(".dbName").attr("id", idStr).text(tableNameTitle);
                        const tbListHtml = $("#divTableNameListTemp").html();
                        divTableListHtml +=
                            tbListHtml
                                .replace("{0}", showName)
                                .replace("{1}", idStr)
                                .replace("{2}", tableNameTitle)
                                .replace("{3}", row.dbName);

                        let tdHtml = '';
                        for (let j = 0; j < row.fieldDescriptions.length; j++) {
                            const field = row.fieldDescriptions;
                            tdHtml += "<tr><td class='dbColumn'>" + field[j].name + "</td>"
                                + "<td>" + field[j].dbType + "</td>"
                                + "<td>" + (field[j].length == null ? "" : field[j].length) + "</td>"
                                + "<td>" + (field[j].isNullable ? "是" : "否") + "</td>"
                                + "<td>" + (field[j].defaultValue == null ? "" : field[j].defaultValue) + "</td>"
                                + "<td>" + (field[j].columnKey == "PRI" ? "是" : "否") + "</td>"
                                + "<td>" + (field[j].isIdentity ? "是" : "否") + "</td>"
                                + "<td>" + (field[j].description == null ? "" : field[j].description) + "</td>"
                                + "</tr>";
                        }
                        $("#divTableTemp tbody").html(tdHtml);
                        divTableFilesHtml += "<div class='eleDb' db='" + row.dbName + "'>" + $("#divTableTemp").html() + "</div>";

                    }
                    $("#divDatas").append(divTableListHtml + divTableFilesHtml);

                }
            },
            error: function (result) {
                alert("查询失败");
            }
        });

    });

    $("#pageMSSQL").on("click", '.btnGetData', function () {
        const connectionString = $("#txtConnectionString").val().trim();
        if (!connectionString) {
            return;
        }
        const username = $("#txtUsername").val().trim();
        if (!username) {
            return;
        }
        const password = $("#txtPassword").val().trim();
        if (!password) {
            return;
        }
        let div = $(this).parent();
        const dbType = $("input:radio[checked=checked]").val();
        $.post("/db/getDbData", {
            connection: encodeURIComponent(connectionString),
            username: encodeURIComponent(username),
            password: encodeURIComponent(password),
            dbType: dbType,
            tableName: $(this).parent().attr('db')
        }, function (data) {
            if(data.body.length == 0){
                alert("无数据");
                return;
            }
            let tHead = '';
            let tBody = '';
            div.children('.topData').remove();
            div.find('.dbColumn').each(function () {
                tHead += "<td>" + $(this).text() + "</td>";
            });

            for (let i = 0; i < data.body.length; i++) {
                let tBodyTr = '';
                div.find('.dbColumn').each(function () {
                    tBodyTr += "<td>" + data.body[i][$(this).text()] + "</td>";
                });
                tBody += "<tr>" + tBodyTr + "</tr>";
            }
            div.append('<table class="topData tbDatas mt20"><thead><tr>' + tHead +'</tr></thead><tbody>' + tBody + '</tbody></table>');
        });
    });

    $("#btnExport").bind("click", function () {
        const connectionString = $("#txtConnectionString").val();
        const sql = $("#txtSql").text();
        const fileName = $("#txtFileName").val();
        if (sql.trim() == '') return;
        $("#fmExport").find("input[name=Connection]").val(encodeURIComponent(connectionString));
        $("#fmExport").find("input[name=fileName]").val(encodeURIComponent(fileName));
        $("#fmExport").find("input[name=DbType]").val($("input[name=dbType]:radio[checked=checked]").val());
        $("#fmExport").find("input[name=excelType]").val($("input[name=excelType]:radio[checked=checked]").val());
        $("#fmExport").find("input[name=sql]").val(encodeURIComponent(sql));
        $("#fmExport").submit();
    });

    $("input:radio").bind("change", function () {
        const sqlserver = "jdbc:sqlserver://xxxxxxxxxxxx:xxxx;DatabaseName=xxx";
        const mysql = "jdbc:mysql://xxxxxxxxxxxx:xxxx/xxx";
        const postgresql = "jdbc:postgresql://xxxxxxxxxxxx:xxxx/xxx";

        if (this.value == 'SqlServer') {
            if ($("#txtConnectionString").val() == postgresql || $("#txtConnectionString").val() == mysql || $("#txtConnectionString").val() == "") {
                $("#txtConnectionString").val(sqlserver);
            }
        } else if (this.value == 'PostgreSql') {
            if ($("#txtConnectionString").val() == sqlserver || $("#txtConnectionString").val() == mysql || $("#txtConnectionString").val() == "") {
                $("#txtConnectionString").val(postgresql);
            }
        } else if (this.value == 'MySql') {
            if ($("#txtConnectionString").val() == sqlserver || $("#txtConnectionString").val() == postgresql || $("#txtConnectionString").val() == "") {
                $("#txtConnectionString").val(mysql);
            }
        }
    });

</script>

</@page.main>