<#import "../main.html" as page>
<@page.main current="/dbDoc" title="Json格式化">
<style type="text/css">
    textarea {
        min-height: 60vh;
        outline: none;
        border: none;
        width: 95%;
        margin-bottom: 50px;
        resize: none;
    }

    .waring{
        box-shadow:0 0 10px lightcoral;
    }
</style>

<div id="pageMSSQL" class="divPage">
    <div class="divTitleText"></div>
    <div class="divCondition">
        <div>
            <button id="btnFormat" class="jk-button mr10">格式化</button>
            <button id="btnClear" onclick="$('#divDatas').val('')" class="jk-button mr10">清空</button>
        </div>
    </div>
    <textarea id="divDatas" class="divContent" placeholder="输入原字符串"></textarea>
</div>
<script type="text/javascript">

    $(function () {
        $("#divDatas").focus();
    });
    $("#btnFormat").bind("click", function () {
        if ($("#divDatas").val()) {
            try {
                var jsonStr = JSON.stringify(JSON.parse($("#divDatas").val()), null, 4);
                $("#divDatas").removeClass("waring");
                $("#divDatas").val(jsonStr);
            } catch (e) {
                $("#divDatas").addClass("waring");
            }

        }
    });
</script>

</@page.main>